@variables {
	DropDownPadding: 30px;
}
.js_fancyDropDown { position: relative; padding: 0;/* var(DropDownPadding) */; background: #ccc; direction: rtl;list-style: none;}

.js_fancyDropDown li { background: #cfa; }
.js_fancyDropDown li:hover { background: #ccc;}
