.js_fancyDropDown {  width: 8em; line-height: 2em; padding: 0; background: #ccc; list-style: none; text-align: center;}
.js_fancyDropDown li { height: 2em;  background: #cfa;direction: rtl; text-align: right; }
.js_fancyDropDown li:hover { background: #ccc;}
