html {
    @charset "UTF-8";
    height: 100%;
    margin: 0;    
}
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;    
}
.main_container {
    margin: 0 auto;
    width: 1043px;    
  /*  height: 769px; */
}
.header {
    margin: 0 auto;
    width: 1043;
    height: 115px;
    background: url('orange-bar.png') no-repeat;
}
.header_search {
   position: relative;
   float: left;
   margin-left: 13px;
   margin-top: 60px;
   width: 150px;
   height: 40px;
}
.header_search input.s1{
    width: 70px;
    height: 15px;
    border: 0;
    padding-left: 18px;
    padding-right: 5px;
    background: url('search.png') no-repeat;   
}
.header_search span.s1 {
   color: #fff;    
   position: absolute;
   left: 63%;
   top: -6%;
}
.header_search a {
    text-decoration: none;    
    display: block;
    font-size: 10pt;
    margin-top: -6px;
    margin-left: 10px;
}
.header .logo {
    display: block;
    margin: 0 auto;
    width: 214px;
    height: 157px;
    background: url('ma-omer.png') no-repeat;    
}
.header_menu {
    width: 300px;
    height: 100px;
    float: right;
    margin-right: 15px;
}
.header_menu .login_container {
    height: 84px;    
}
.login_container .login {
    float: right;    
    text-decoration: none;
    color: #fff;
}
.header_menu .link_list  ul   {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-right: 20px;
}
.header_menu ul li {
    overflow: hidden;
    display: inline-block;
    float: left;
    width: 40px;
    height: 30px;
    font-size: 10pt;
}
.header_menu ul li a{
    text-decoration: none;    
    color: #fff;
}
.header_menu .li1 {
    margin-left: 35px;
}

.header_menu .li2 {
    width: 45px;
    margin-left: 15px;
}

.header_menu .li3 {
    margin-left: 15px;
}
.header_menu .li4 {
    width: 46px;
    margin-left: 5px;
}
.main_body {
    margin-top: 100px;
    width: 1043px;
    height: 515px;
}
.main_body .middle_content {
    margin: 0 auto;    
    height: 385px;
    width: 613px;
    /* background: black; */
}
.middle_content .question_form {
    height: 164px;    
    width: 606px;
    /* background: #ccc; */
    margin: 0 auto;
}
.question_form .question_mark {
    margin: 0 auto;
    width: 415px;
    height: 60px;
    background: url('question_mark.png') no-repeat;
}
.question_form .main_search {
    height: 39px;    
}
.question_form .main_search .lchoice {
    width: 84px;
    height: 39px;
    background: url('3-19.png') no-repeat;
    float: left;    
}
.question_form .main_search .rchoice {
    width: 84px;
    height: 39px;
    background: url('3-19.png') no-repeat;
    float: right;    
}
.question_form .main_search .q_bar {
    margin-top: 9px;
    margin-left: 11px;
    float: left;
    width: 415px;
    height: 30px;
    background: url('main_search_bar.png') no-repeat;
    border: none;
}
.question_form .botton_select {
 width: 606px;    
 height: 30px;
}
.brow1{
    margin: 0 auto;
    width: 348px;
    height: 25px;
    padding-left: 50px;
}
.brow2{
    margin: 0 auto;
    width: 348px;
    height: 25px;
    padding-left: 50px;
}
.question_form .botton_select .radiob {
    float: left;
}
.question_form .botton_select .rblabel {
    float: left;
    font-size: 6pt;    
    margin-right: 60px;
    margin-top: 4px;
}
.three_boxes { 
   width: 606px;
   height: 216px;
   margin: 0 auto;
}
.three_boxes .box {
   float: left;
   width: 202px;
   height: 216px;
   background: url('big_fat_box.png') no-repeat;
}
.footer {
    margin: 0 auto;
    width: 1043px;
    height: 33px;
    background:  url('footer.png') no-repeat;
}
